.term-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.term-list__item {
  animation: appearance 500ms;
}
